@charset "utf-8";



/*
아래 TagElement만 여백을 초기화 한다. 나중에 필요한 tag는 추가또는 삭제가능하다
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers
옛버전Tag들이 현재 Browser에서 html5 구조 Tag로 사용할수 있게 블럭방식으로 인식되게 해준다.
*/
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1; /*줄간격 100%*/
}
ol, ul,li {
	list-style: none; /*목록기호를 없앤다.*/
}
blockquote, q {
	quotes: none; /*인용문 따옴표 안나오게*/
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse; /*cell 과 cell 사이의 여백을 없앤다.*/
	border-spacing: 0;
}